.App{
  background: var( --background-gadient);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--fontFamily-inter_sans);
}

.AppGlass{
  display: grid;
  height: 97%;
  width: 97%;
  border-radius: var(--radius-2rem);
  background-color: var(--glass);
  overflow: hidden;
  grid-template-columns: 11rem auto 20rem;
  gap: 10px;
}

@media screen and (max-width:1200px){
 
  .AppGlass{
    grid-template-columns: 10% 50% auto;
    overflow: scroll;
  }
}

@media screen and (max-width:768px){
  .AppGlass{
    grid-template-columns: 1fr;
  }

  .AppGlass::-webkit-scrollbar{
    display: none;
  }
}